<ion-header>
  <ion-toolbar>
    <ion-title>
      Magia i miecz - karta poszukiwacza
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="welcome-card">
    <div class="main2-top-img"></div>
    <ion-card-header>
      Do rozgrywki potrzebna jest stworzone karta poszukiwacza. Stwórz teraz Twoją kartę poszukiwacza.
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="8" offset-sm="2">
            <form class="form-user" [formGroup]="userData" (ngSubmit)="saveUser()">
              <ion-list>
                <!--<ion-item>
                  <ion-label>Twój Nick</ion-label>
                  <ion-input value="ssdssdsd1212" type="text" formControlName="nick"
                    [class.invalid]="!userData.controls.nick.valid && (userData.controls.nick.dirty)">
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="!userData.controls.nick.valid  && (userData.controls.nick.dirty)">
                  <p>{{vuser}}</p>
                </ion-item>
              -->
                <ion-item>
                  <ion-label position="stacked">Nazwa poszukiwacza</ion-label>
                  <ion-input value="ssdssdsd1212" type="text" formControlName="poszukiwacz"
                    [class.invalid]="!userData.controls.poszukiwacz.valid && (userData.controls.poszukiwacz.dirty)">
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="!userData.controls.poszukiwacz.valid  && (userData.controls.poszukiwacz.dirty)">
                  <p>{{vuser}}</p>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Charakter</ion-label>
                  <ion-select interface="popover" formControlName="charakter">
                    <ion-select-option selected value="neutralny">Neutralny</ion-select-option>
                    <ion-select-option value="dobry">Dobry</ion-select-option>
                    <ion-select-option value="zły">Zły</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Początkowa siła poszukiwacza</ion-label>
                  <ion-input type="number" formControlName="start_sila">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Początkowa moc poszukiwacza</ion-label>
                  <ion-input type="number" formControlName="start_moc">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Opis poszukiwacza</ion-label>
                  <ion-textarea placeholder="dssdds" formControlName="opis">
                  </ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-button expand="block" size="large" type="submit" [disabled]="!userData.valid" fill="outline">
                    zapisz
                  </ion-button>
                </ion-item>
              </ion-list>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>