<ion-header>
  <ion-toolbar>
    <ion-title>
      Magia i miecz - twoja karta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div class="main-top-img"></div>
    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-card-subtitle>Poszukiwacz:</ion-card-subtitle>
              <ion-card-title>{{ data.poszukiwacz }}</ion-card-title>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>Charakter:</ion-card-subtitle>
              <ion-card-title>{{ data.charakter }}</ion-card-title>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>Start:</ion-card-subtitle>
              <ion-card-title>{{ data.start }}</ion-card-title>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Cechy poszukiwacza</ion-label>
        </ion-list-header>
        <ion-grid>
          <ion-row>

            <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
              [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
              <ion-row class="ion-align-items-start ion-justify-content-start">
                <ion-col class="ion-align-self-center ion-text-center" size="6">
                  <ion-text class="card-title">{{ feature.sila }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-left" size="2">
                  <ion-icon class="addel" color="danger" name="remove-circle" (click)="pointPicker(-1, 'sila')">
                  </ion-icon>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center" size="2">
                  <ion-text class="card-number">{{ data.sila }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-right" size="2">
                  <ion-icon class="addel" color="danger" name="add-circle" (click)="pointPicker(1, 'sila')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
              [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
              <ion-row class="ion-align-items-start ion-justify-content-start">
                <ion-col class="ion-align-self-center ion-text-center" size="6">
                  <ion-text class="card-title">{{ feature.moc }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-left" size="2">
                  <ion-icon class="addel" color="primary" name="remove-circle" (click)="pointPicker(-1, 'moc')">
                  </ion-icon>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center" size="2">
                  <ion-text class="card-number">{{ data.moc }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-right" size="2">
                  <ion-icon class="addel" color="primary" name="add-circle" (click)="pointPicker(1, 'moc')"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
              [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
              <ion-row class="ion-align-items-start ion-justify-content-start">
                <ion-col class="ion-align-self-center ion-text-center" size="6">
                  <ion-text class="card-title">{{ feature.wytrzymalosc }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-left" size="2">
                  <ion-icon class="addel" color="success" name="remove-circle"
                    (click)="pointPicker(-1, 'wytrzymalosc')">
                  </ion-icon>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center" size="2">
                  <ion-text class="card-number">{{ data.wytrzymalosc }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-right" size="2">
                  <ion-icon class="addel" color="success" name="add-circle" (click)="pointPicker(1, 'wytrzymalosc')">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
              [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
              <ion-row class="ion-align-items-start ion-justify-content-start">
                <ion-col class="ion-align-self-center ion-text-center" size="6">
                  <ion-text class="card-title">{{ feature.zloto }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-left" size="2">
                  <ion-icon class="addel" color="warning" name="remove-circle" (click)="pointPicker(-1, 'zloto')">
                  </ion-icon>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-center" size="2">
                  <ion-text class="card-number">{{ data.zloto }}</ion-text>
                </ion-col>
                <ion-col class="ion-text-right" size="2">
                  <ion-icon class="addel" color="warning" name="add-circle" (click)="pointPicker(1, 'zloto')">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>