<ion-header>
  <ion-toolbar>
    <ion-title>
      Magia i miecz - Twoja karta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div class="main-top-img"></div>
    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-card-subtitle>Poszukiwacz:</ion-card-subtitle>
              <ion-card-title>Złodziej</ion-card-title>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>Charakter:</ion-card-subtitle>
              <ion-card-title>Neutralny</ion-card-title>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>Start:</ion-card-subtitle>
              <ion-card-title>Miasto</ion-card-title>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Cechy poszukiwacza</ion-label>
    </ion-list-header>

    <ion-grid>
      <ion-row>

        <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
          [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
          <ion-row class="ion-align-items-start ion-justify-content-start">
            <ion-col class="ion-text-left" size="4">
              <ion-icon class="addel" color="warning" name="remove-circle"></ion-icon>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-center" size="4">
              <ion-text class="card-title">siła</ion-text>
            </ion-col>
            <ion-col class="ion-text-right" size="4">
              <ion-icon class="addel" color="warning" name="add-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
          [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
          <ion-row class="ion-align-items-start ion-justify-content-start">
            <ion-col class="ion-text-left" size="4">
              <ion-icon class="addel" color="warning" name="remove-circle"></ion-icon>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-center" size="4">
              <ion-text class="card-title">moc</ion-text>
            </ion-col>
            <ion-col class="ion-text-right" size="4">
              <ion-icon class="addel" color="warning" name="add-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
          [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
          <ion-row class="ion-align-items-start ion-justify-content-start">
            <ion-col class="ion-text-left" size="4">
              <ion-icon class="addel" color="warning" name="remove-circle"></ion-icon>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-center" size="4">
              <ion-text class="card-title">wytrzymałość</ion-text>
            </ion-col>
            <ion-col class="ion-text-right" size="4">
              <ion-icon class="addel" color="warning" name="add-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col class="box-field" [attr.size-lg]="this.sizelg" [attr.size-md]="this.sizemd"
          [attr.size-sm]="this.sizesm" [attr.size-xs]="this.sizexs">
          <ion-row class="ion-align-items-start ion-justify-content-start">
            <ion-col class="ion-text-left" size="4">
              <ion-icon class="addel" color="warning" name="remove-circle"></ion-icon>
            </ion-col>
            <ion-col class="ion-align-self-center ion-text-center" size="4">
              <ion-text class="card-title">złoto</ion-text>
            </ion-col>
            <ion-col class="ion-text-right" size="4">
              <ion-icon class="addel" color="warning" name="add-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>