.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.main-top-img {
  /* Location of the image */
  max-height: 35vh;
  height: 250px;
  background-image: url(../../assets/images/main-top.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
}

ion-card-title {
  text-transform: uppercase;
}

ion-icon.addel {
  font-size: 48px;
}

.align-text-vertical {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.card-title {
  display: block;
  font-size: 1.2em;
  color: --ion-color-dark-tint;
  text-transform: uppercase;
}

.card-number {
  display: block;
  font-size: 1.9em;
  font-weight: 700;
}

.box-field {
  background-color: black;
  border: 5px solid var(--ion-item-background, var(--ion-background-color, #fff));
  border-radius: 15px;
}